extends layout

block bodycontainer
  .starter-template
    h1 Network impedance analyzer
    p.lead A part of the openBioinstrumentation suite
  h3 Current status:
  span#statustext 
  p Last Refreshed:&nbsp;
        span#date
        
  div
    button.btn.btn-default(type='button', id="ButtonSweepLow" data-loading-text="Running")
      i.glyphicon.glyphicon-transfer
        | &nbsp;Sweep Low
        
    button.btn.btn-default(type='button', id="ButtonSweepHigh" data-loading-text="Running")
      i.glyphicon.glyphicon-transfer
        | &nbsp;Sweep High
    p
   
  div       
    .progress
      .progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
    
  h3 Impedance Plots
  div
    button.btn.btn-default(type='button', id="ButtonSave")
      i.glyphicon.glyphicon-save
        | &nbsp;Save
    button.btn.btn-default(type='button', id="ButtonDownload")
      i.glyphicon.glyphicon-cloud-download
        | &nbsp;Download
    button.btn.btn-default(type='button', id="ButtonOpen")
      i.glyphicon.glyphicon-open
        | &nbsp;Open
    button.btn.btn-default(type='button', id="ButtonAnalyze")
      i.glyphicon.glyphicon-cog
        | &nbsp;Analyze
            
  #gaindiv(style='width: 640px; height: 400px;')
        
  h3 Preferences
  a#preferences
  p Calibration tables are valid for the following ranges. Noisy data outside these ranges. 
  
  h4 Frequency sweep parameters (50-3950 Hz)
  
  .row
    .col-md-4
      .input-group
        span.input-group-addon Start
        input.form-control(type='text', placeholder='Frequency', id="StartFreqL")
        span.input-group-addon Hz
    .col-md-4
      .input-group
        span.input-group-addon Increment
        input.form-control(type='text', placeholder='Frequency', id="IncrFreqL")
        span.input-group-addon Hz
    .col-md-4
      .input-group
        span.input-group-addon Steps
        input.form-control(type='text', placeholder='Num Steps', id="NumStepsL")
  
  h4 Frequency sweep parameters (4000-20000 Hz)  
  .row
    .col-md-4
      .input-group
        span.input-group-addon Start
        input.form-control(type='text', placeholder='Frequency', id="StartFreqH")
        span.input-group-addon Hz
    .col-md-4
      .input-group
        span.input-group-addon Increment
        input.form-control(type='text', placeholder='Frequency', id="IncrFreqH")
        span.input-group-addon Hz
    .col-md-4
      .input-group
        span.input-group-addon Steps
        input.form-control(type='text', placeholder='Num Steps', id="NumStepsH")



